* {
  box-sizing: border-box;
}
body {
  font-family: tahoma, Arial;
  margin: 0;
}
.repos-container {
  padding: 20px ;
  background-color: white;
  background-color: #eee;
  margin: auto;
}
@media (max-width:450px) {
  .repos-container{
   padding: 5px;
  }
}
.repos-container .get-repos {
  padding: 40px;
  text-shadow: #222;
  border-radius: 9px ;
  background-color: #eee;
  box-shadow: 0 0 8px #222;
  margin-bottom: 20px;
}
.repos-container .get-repos h2{
  margin: 0;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  -webkit-text-fill-color:white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #222;
}
@media (max-width:450px) {
  .repos-container .get-repos h2{
    font-size: 30px;
  }
}



.repos-container .show-data .mian_dive {
  display: flex;
  /* height: 0px; */
  background-color: white;
  box-shadow: 0 0 8px #555;
  padding: 30px;
  margin-bottom: 13px;
  border-radius: 6px;
  justify-content: space-between;
  overflow: hidden;
  font-size: 24px;
  color: #333;
  /* font-weight: bold; */
}
@media (max-width:450px) {
  .repos-container .show-data .mian_dive {
   padding-left: 10px;
   padding-right: 10px;
   font-size: 20px;
  }
}

.repos-container .show-data .mian_dive a {
  margin-left: 5px;
  padding: 10px;
  color: #222;
  /* padding-inline: 10px; */
  /* height: 10px; */
  background-color: rgb(205, 233, 233);
  background-color: #eee;
  box-shadow: 0 0 4px #222;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
  font-size: 13px;
}
.repos-container .show-data .mian_dive a.show {
margin-right: 15px;
  background-color:#eee;

}
@media (max-width:450px) {
  .repos-container .show-data .mian_dive a.show{
    margin-right: 5px;
  }
}

